html, body {
    height: 100%;
    margin: 0;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #ed864e;
    color: #333;
    display: flex;
    flex-direction: column;
}

header {
    background: #FFDDC9;
    color: #ed864e;
    padding: 60px 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 3em;
}

header p {
    font-size: 1.2em;
    margin-top: 10px;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background: #fff;
    color: #ed864e;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 60px 20px;
    max-width: 1000px;
    margin: auto;
}

.features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.card h3, summary {
    margin-top: 0;
    color: #ed864e;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 30px;
    background: #FFDDC9;
    color: #ed864e;
}

section {
    flex: 1; 
}

.hidden {
    display: none;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

.logo {
    width: 250px;
    height: 100px;
}

.header_img {
    width: 150px;
    height: 150px;
}

.footer_img {
    width: 50px;
    height: 50px;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.caption {
  color: #ed864e;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}